<div>
    <div *ngIf="isLoading" class="loading">Loading...</div>
        <ng-container *ngIf="!isLoading">
            <app-search (searchTerm)="onSearch($event)"></app-search>

            <ng-container *ngIf="filteredComments.length > 0; else noResults">        
                <table *ngIf="!isLoading">
                    <thead>
                        <tr>
                        <th>
                            <div class="header-container">
                            <span>ID</span>
                            <div class="sort-buttons">
                                <button (click)="sortData('id', 'asc')">&#9650;</button>
                                <button (click)="sortData('id', 'desc')">&#9660;</button>
                            </div>
                        </div>
                        </th>
                        <th>Name</th>
                        <th>
                            <div class="header-container">
                            <span>Email</span>
                            <div class="sort-buttons">
                                <button (click)="sortData('email', 'asc')">&#9650;</button>
                                <button (click)="sortData('email', 'desc')">&#9660;</button>
                            </div>
                        </div>
                        </th>
                        <th>Body</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let comment of paginatedComments">
                                    <td>{{ comment.id }}</td>
                                    <td [innerHTML]="highlightText(comment.name)"></td>
                                    <td [innerHTML]="highlightText(comment.email)"></td>
                                    <td [innerHTML]="highlightText(comment.body)"></td>
                                <td>
                                    <button class="delete-btn" (click)="deleteComment(comment.id)">Delete</button>
                                </td>
                            </tr>
                    </tbody>
                </table>        
                <app-pagination 
                    [totalItems]="filteredComments.length" 
                    (pageChange)="onPageChange($event)"
                    (itemsPerPageChange)="onItemsPerPageChange($event)">
                </app-pagination>
            </ng-container>

            <ng-template #noResults>
                <div class="message">No result found</div>
            </ng-template>  

    </ng-container>    
</div>